@use "@/components/variables"

.wrapper
  @include variables.modalWrapper

.modal
  @include variables.modalContainer

.button
  @include variables.textButton

.header
  @include variables.modalHeader

  .title
    margin-right: 6.4rem

.ratingContainer
  @include variables.modalButtonsContainer(variables.$yellow)

.selected
  background-color: pink
  font-weight: bold
  text-decoration: underline
  background-color: variables.$yellow
