$primary-font: var(--font-Source-Code-Pro)
$orange: #e06453
$yellow: #f7c81e
$green: #58893a
$dark-blue: #272e48

@mixin whiteBlurBackground
  background-color: rgba(255,255,255,0.5)
  backdrop-filter: blur(4px)

@mixin splitContainer
  display: flex
  height: 100vh

@mixin textButton
  cursor: pointer
  width: fit-content
  min-width: fit-content
  user-select: none

  &::before
    content: "["

  &::after
    content: "]"

  &:hover
    font-weight: bold
    text-decoration: underline

@mixin discreetButton
  cursor: pointer
  width: fit-content
  min-width: fit-content

  &:hover
    font-style: italic
    // font-weight: bold
    // text-decoration: underline

@mixin panelContainer
  overflow-y: auto
  height: 100%

@mixin modalWrapper
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: 100

  display: flex
  justify-content: center
  align-items: center

  // cursor: pointer
  @include whiteBlurBackground

@mixin modalContainer
  border: 1px solid black
  background-color: white

@mixin modalHeader
  display: flex
  justify-content: space-between
  padding: 0.8rem
  border-bottom: 2px solid black

@mixin modalInput
  border: 0
  border-bottom: 1px solid black
  font-family: $primary-font
  font-size: 1.6rem
  width: 100%
  box-sizing: border-box
  padding: 0.8rem

  &:focus
    outline: none

@mixin modalTextArea
  resize: none
  width: 100%
  box-sizing: border-box
  border: 0
  border-bottom: 1px solid black
  padding: 0.8rem

  font-size: 1.6rem
  font-family: $primary-font
  line-height: 1.5

  &:focus
    outline: none !important

@mixin modalButton($hover-background-color)
  width: 100%
  padding: 0.8rem
  display: flex
  justify-content: center
  user-select: none
  cursor: pointer
  box-sizing: border-box

  &:hover
    font-weight: bold
    text-decoration: underline

  &:hover
    background-color: $hover-background-color

@mixin modalButtonsContainer($hover-background-color)
  display: flex

  div + div
    border-left: 1px solid black

  div
    @include modalButton($hover-background-color)
