@use "@/components/variables"

.panelContainer
  @include variables.panelContainer

.container
  margin: 3.2rem

.name
  font-weight: bold
  color: variables.$orange

.creator
  @include variables.textButton
  margin-left: 0.8rem

.description
  padding: 1.6rem 0
  margin-top: 1.6rem
  border-top: 1px dashed variables.$yellow
  border-bottom: 1px dashed variables.$yellow
  white-space: pre-wrap

.colophon
  margin-top: 6.4rem

  .count
    margin-bottom: 1.6rem

.editShelfButton
  position: fixed
  bottom: 6.4rem
  left: 3.2rem

  @include variables.textButton
  @include variables.whiteBlurBackground
